name: "Release"

on:
  workflow_dispatch:
    inputs:
      release_version:
        description: "The version that will be released"
        required: true
      dev_version:
        description: "The next development version"
        required: true
        default: "-SNAPSHOT"

permissions: {}

jobs:
  release:
    runs-on: ubuntu-latest

    permissions:
      contents: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0

      - name: Set up JDK 25
        uses: actions/setup-java@dded0888837ed1f317902acf8a20df0ad188d165 # v5.0.0
        with:
          java-version: "25"
          distribution: "temurin"
          server-id: "central"
          server-username: MAVEN_USERNAME
          server-password: MAVEN_CENTRAL_TOKEN
          gpg-passphrase: MAVEN_GPG_PASSPHRASE
          gpg-private-key: ${{ secrets.GPG_SIGNING_KEY }}

      - name: Set up commit signing
        run: |
          git config --global commit.gpgsign true
          git config --global user.signingkey ${{ secrets.GPG_KEY_ID }}
          git config --global user.name 'Sola-ris Releases'
          git config --global user.email '${{ vars.RELEASE_MAIL }}'

      - name: Prepare Release
        env:
          MAVEN_GPG_PASSPHRASE: ${{ secrets.GPG_PASSWORD }}
        run: |
          ./mvnw -B release:prepare \
            -DreleaseVersion=${{ github.event.inputs.release_version }} \
            -DdevelopmentVersion=${{ github.event.inputs.dev_version }} \
            -Dtag=${{ github.event.inputs.release_version }}

      - name: Perform Release
        env:
          MAVEN_USERNAME: ${{ secrets.MAVEN_CENTRAL_USERNAME }}
          MAVEN_CENTRAL_TOKEN: ${{ secrets.MAVEN_CENTRAL_PASSWORD }}
        run: ./mvnw -B release:perform

      - name: Push tag and release commits
        run: |
          git push
          git push origin ${{ github.event.inputs.release_version }}
